<!--Muestra lista de pagos en destino para una transacción-->

<div>

<!--pruebas

<p>saludo:\

 {{ saludo}}</p>

-->

<!--TODO.DESEO.    //enfocar campo de busqueda

<p>Buscar:<input type="text" ng-model="busq1"

  auto-focus="{{ focusInput }}" value="auto-focus on"></p>

-->

<h3 style="color: orange">Pagos en destino</h3>



<table width="100%"  class="table table-sm table-hover">

	<tr>

    <!--TODO. mostrar moneda segun el pais:

      Debe ajustarse la hora al pais destino, pues es la hora en que se hizo el pago al cliente,

      o simplemente se coloca la hora de Vzla, por defecto, por ahora.-->

      <th style="max-width:20px" title="">Fecha</th> <!--/Hora-->

      <th style="width:10%; text-align: center">Monto (Bs.{{x.codmoneda}})</th>

      <th title="Si situas el cursor sobre el codigo del banco, te indica el nombre del banco">Banco</th>

      <th style="max-width:15%">Nro. de cuenta</th>

      <!--TODO. idea. agregar tipo de documento -->
      <th style="width:20%" title="Nro. de Documento y Nombre de Titular">Doc./Nombre de Titular</th>

      <th style="width:10%">Pago Móvil / Teléfono</th>

      <th>Pagado</th>

      <th>Comprobante</th>

      <th style="width:7%">Operador</th>

      <th title="Verificado por operador">Verif. x Operador</th>

      <th style="width:7%" title="Verificado por el cliente o el beneficiario">Confirmado x Cliente</th>

      <!--th style="width:7%">Acciones</th-->

    <!--  <th>Comentarios</th>-->

    <!-- TODO. idea, colocar ciudad si es envio en el mismo pais, y solo es entre ciudades.

    <th>Ciudad</th>

  -->

</tr>

<tr ng-repeat="x in resultados_destino">

  <!--

  <td>{{x.id}}</td>-->

  <td title="{{ x.date_created | date:'yyyy-MM-dd - HH:mm'}}">{{ x.date_created | date:'MM-dd - HH:mm'}}</td>

  <!--TODO. mostrar nombre corto de banco, en vez del codigo. traer datos de bancos en popup-->
  <!--TODO. la cantidad de decimales puede variar de acuerdo al pais, configurar esto en el CRUD de monedas-->

  <td style="text-align:right; padding-right:50px">{{ x.monto | number : 2 }}</td>

  <td title="{{ x.banco_nombre_largo }}">{{ x.cod_banco }}</td>

  <td >{{ x.nroctabank }}</td>

  <td>{{ x.doc_titular + '/ ' + x.nombre_titular }}</td>

  <td>
    <span ng-if="x.ind_pagomovil == 1" class="badge badge-pill badge-primary" title="El cliente solicita vía pago móvil">SI</span>
    <span ng-if="x.ind_pagomovil != 1" class="badge badge-pill badge-primary" title="No se requiere pago móvil">NO</span>
    <span>{{x.telefono}}</span>
  </td>


  <!--verif.operador-->


  <!--indica si el pago ya fue realizado-->

  <!--verificacion de si se realizo el deposito todo correctamente-->

  <!--TODO. idea, cambiar presentacion: en vez de ser botones, que sean iconos o solo texto-->

  <td style="text-align:center; padding-right:35px" ng-if="x.check_realizado >= 1">

    <span class="badge badge-pill badge-primary" title="El operador ya realizó este pago">SI</span>

  </td>

  <td style="text-align:center; padding-right:35px" ng-if="!x.check_realizado || x.check_realizado < 1">

    <span class="badge badge-pill badge-danger" title="El operador NO ha realizado este pago todavía">NO</span>

  </td>



    <!--comprobante de pago, si ya fue realizado el pago por algun operador-->
    <!--TODO. comprobante. programar la para cargar imagen, crear link a la imagen, mostrar nombre de imagen solamente sin ruta, permitir boton para ver imagen sin ir a otra pagina-->
    <!--TODO. validar campo verif_operador, si es 1, entonces permitir ver el capture, sino no?-->

    <td>

      <a ng-if="x.check_realizado >= 1 && x.img_comprob && x.img_comprob != '' " title="Ver comprobante (Pendiente: programar)" target="_BLANK" href="#!/pagosdestino/comprobante/">{{ x.img_comprob }}</a>

      <!--CLIENTE NO PUEDE ELIMINAR PAGOS A DESTINO
      <a href="#!/pagosdestino/comprobante/reemplazar/{{x.id_transaccion}}" title="Quitar imagen de comprobante">
        <span class="badge badge-pill badge-warning">Eliminar</span></a-->

        <span title="Aun no se ha subido el comprobante de pago al sistema" ng-if="!x.check_realizado || x.check_realizado < 1 || !x.img_comprob || x.img_comprob ==''"class="badge badge-pill badge-danger">Pendiente</span>

    </td>




  <!--login de operador-->

  <td><a title="Ver detalles del operador >> colocar al menos el nombre en este tooltip" href="#!/user/{{ x.login_user_pagador }}">{{ x.login_user_pagador }}</a></td>





 <!--VERIFICAcion de pago realizado POR OPERADOR-->
  <!--TODO. idea, cambiar presentacion: en vez de ser botones, que sean iconos o solo texto-->
  <!--reporte que se realizo el deposito-->
  <td style="text-align:center; padding-right:35px" >

    <span ng-if="x.check_realizado >= 1" class="badge badge-pill badge-primary" title="El operador ya realizó este pago y adjuntó el comprobante">SI</span>
    <span ng-if="x.check_realizado == 0" class="badge badge-pill badge-danger" title="El operador aun no ha verificado este pago">NO</span>

  </td>


  <!--verif. por parte de cliente o beneficiario-->
  <td style="text-align:center; padding-right:35px" >

      <!--pago confirmado por cliente/beneficiario-->
      <span ng-if="x.check_user_cliente == 1" class="badge badge-pill badge-success"

      title="El cliente ya confirmó que llegó este pago al destinatario">SI</span>

      <!--aun no se puede confirmar porque no se ha reportado como pagado-->
      <span ng-if="x.check_realizado < 1 && x.check_user_cliente != 1" class="badge badge-pill badge-danger"

      title="El cliente no ha verificado/confirmado que llegó este pago al destinatario">NO</span>


      <!--se permite al cliente verificar el pago ya ha sido recibido-->
      <a
      ng-if="x.check_realizado >= 1 && x.check_user_cliente != 1" 
      class="badge badge-pill badge-primary text-white"
      role="button"
      ng-confirm-click="¿Estás seguro que se recibió el pago?"
      confirmed-click="confirmarPagoDestino(x.id)"
      title="Confirmanos que el destinatario ya recibio el pago">Confirmar Pago</a>        

  </td>



<!--TODO: add acciones/ como ver mas detalles, o colocar link en la fecha para ir a mas detalles-->

    <td>

</td>

      <!--td><a title="Ver mas detalles del pago (pendiente de programar)" href="#!/destino/{{ x.id }}">Elegir acción</a></td-->


      <!--select name="accion" ng-model="x.accion" class="form-control input-sm" ng-change="ejecutarAccion()">

        <option value="">-Elegir acción-</option>

        <option value="P">Pagar</option>

        <option value="V">Verificar Pago</option>

      </select>

      <button type="button" class="btn btn-primary" ng-click="pagar_destino()">Pagar</button>

    -->



    <!--aplicar iconos a los botones>

      ejemplos:

      dollar-sign, de https://fontawesome.com/v5.15/icons?d=gallery&p=2&c=currency

      https://glyphicons.bootstrapcheatsheets.com/

    -->

    
      <!--a

      ng-if="x.check_realizado != 1" 

      class="badge badge-pill badge-danger text-white" role="button"

      href="#!/chat/{{ x.id }}" 

      title="El operador debe realizar el pago y notificarlo con captura del comprobante">Pagar</a-->



    </td-->



<!--comentarios/obs-->

<!--

      <td>{{x.observ}}</td>

    -->

    </tr>

    <tfoot>

    <tr ng-if="!resultados_destino || resultados_destino.length == 0">

      <td class="text-danger">No hay pagos registrados todavía.</td>

    </tr>

    <tr ng-if="resultados_destino.length > 0">

      <td class="text-primary">Total Pagado: </td>

      <td class="text-right" style="padding-right:50px;">{{total_pagado | number: 2 }}</td>

    </tr>

    <tr ng-if="resultados_destino.length > 0">

      <td class="text-danger">Pago Pendiente: </td>

      <td class="text-right" style="padding-right:50px">{{pago_pendiente | number: 2}}</td>

    </tr>

    </tfoot>

  </table>

<!--

<div class="debug">

  Debug:

{{$scope.resultados_destino | json}}

</div>

-->

</div>

