<!--Muestra lista de pagos en destino para una transacción-->

<div>

<h3 style="color: orange">Pagos en destino</h3>



<table width="100%"  class="table table-sm table-hover">

	<tr>

    <!--TODO. mostrar moneda segun el pais:

      Debe ajustarse la hora al pais destino, pues es la hora en que se hizo el pago al cliente,

      o simplemente se coloca la hora de Vzla, por defecto, por ahora.-->

      <th style="width:25px" title="Fecha que se indicó el pago">Fecha</th> <!--/Hora-->

      <!--TODO. se debe traer codigo moneda destino en el query, x.destino_codmoneda-->

      <th style="width:10%">Monto (Bs.{{x.codmoneda}})</th>

      <th title="Si situas el cursor sobre el codigo del banco, te indica el nombre del banco" style="width:5%" >Banco</th>

      <th style="width:10%">Nro. de cuenta</th>

      <th style="width:5%" title="Tipo de cuenta">Tipo</th>

      <th style="width:20%" title="Nro de Documento y Nombre de Titular">Doc./Nombre de Titular</th>

      <th style="width:10%">Pago Móvil / Teléfono</th>

      <th style="width:10%">Operador</th>

      <th style="width:7%">Pagado</th>

      <!--TODO. activar nuevamente. comprobante pago realizado y subido por operador

      <th>Comprobante/s</th>

      -->

      <!--TODO. activar nuevamente. verificar pago por operador

      <th title="Verificado por operador">Verif. Operador</th>

      -->

      <th style="width:7%" title="Verificado por el cliente o el beneficiario">Verif. Cliente</th>

      <!--TODO. idea. ocultar encabezado cuando todos los pagos esten realizados y confirmados
        <th style="width:7%" ng-if="pago_pendiente > 0"  ng-hide="pago_pendiente == 0">Acciones</th-->
      <th style="width:7%" >Acciones</th>

    <!--  <th>Comentarios</th>-->

    <!--

    <th>Ciudad</th>

  -->

</tr>

<tr ng-repeat="x in resultados_destino">

  <!--

  <td>{{x.id}}</td>-->

  <td>{{ x.date_created | date:'yyyy-MM-dd - HH:mm'}}</td>

  <!--TODO. mostrar nombre corto de banco, en vez del codigo. traer datos de bancos en popup-->

  <td style="text-align:right; padding-right:50px">{{ x.monto | number : 2 }}</td>

  <td title="{{x.banco_nombre_largo}}">{{ x.cod_banco }}</td>

  <td >{{ x.nroctabank }}</td>



  <!--TODO. hacer CASE sobre tipo_cta en el query en vez de hacerlo en el template-->

  <td>
    <span ng-if="x.tipo_cta=='C'">Corriente</span>
    <span ng-if="x.tipo_cta=='A'">Ahorros</span>
    <span ng-if="x.tipo_cta=='V'">Virtual</span>
    <span ng-if="x.tipo_cta=='O'">Otra</span>
    <span ng-if="!x.tipo_cta || x.tipo_cta == '' ">-</span>
  </td>


  <td>{{ x.doc_titular + ' - ' + x.nombre_titular }}</td>


  <td>
    <span ng-if="x.ind_pagomovil == 1" class="badge badge-pill badge-primary" title="El cliente solicita vía pago móvil">SI</span>
    <span ng-if="x.ind_pagomovil != 1" class="badge badge-pill badge-primary" title="No se requiere pago móvil">NO</span>
    <span>{{x.telefono}}</span>
  </td>

  <!--operador-->
  <td><a title="Ver detalles del operador >> nombre al menos" href="#!/user/{{ x.login_user_pagador }}">{{ x.login_user_pagador }}</a></td>

  <!--verif. pago por parte del operador-->

  <!--verificacion de si se realizo el deposito todo correctamente-->

  <!--TODO. idea, cambiar presentacion: en vez de ser botones, que sean iconos o solo texto-->

  <td style="text-align:center; padding-right:5px" ng-if="x.check_realizado >= 1">

    <span class="badge badge-pill badge-primary" title="El operador ya realizó este pago">SI</span>

  </td>

  <td style="text-align:left; padding-left:10px" ng-if="x.check_realizado < 1">

    <span class="badge badge-pill badge-danger" title="El operador NO ha realizado este pago todavía">NO</span>

  </td>



    <!--TODO. activar nuevamente. comprobante pago realizado y subido por operador-->

    <!--ver/agregar comprobantes-->

    <!--TODO. comprobante. programar la para cargar imagen,crear link a la imagen, mostrar nombre de imagen solamente sin ruta-->

    <!--td ng-if="x.check_realizado >= 1 && x.img_comprob && x.img_comprob != '' ">

      <a title="Ver comprobante (Pendiente: programar)" target="_BLANK" href="#!/pagosdestino/comprobante/">{{ x.img_comprob }}</a>

      <a href="#!/pagosdestino/comprobante/reemplazar/{{x.id_transaccion}}" title="Quitar imagen de comprobante">

        <span class="badge badge-pill badge-warning">Eliminar</span></a>

    </td>

    <td ng-if="!x.check_realizado || x.check_realizado != 1 || !x.img_comprob || x.img_comprob ==''">

      <a href="#!/pagosdestino/comprobante/adjuntar/{{x.id_transaccion}}" title="Adjuntar imagen de comprobante">

        <span class="badge badge-pill badge-warning">Agregar</span></a>

      </td-->





 <!--TODO. activar nuevamente. verificar pago por operador-->

  <!--TODO. idea, cambiar presentacion: en vez de ser botones, que sean iconos o solo texto-->

  <!--reporte que se realizo el deposito-->

  <!--td style="text-align:center; padding-right:35px" ng-if="x.check_realizado >= 1">

    <span class="badge badge-pill badge-primary" title="El operador ya realizó y notificó este pago">SI</span>

  </td>

  <td style="text-align:center; padding-right:35px" ng-if="x.check_realizado == 0">

    <span class="badge badge-pill badge-danger" title="El operador ya realizó y notificó este pago">NO</span>

  </td-->  



        <!--verif.cliente-->

      <td>

        <span ng-if="x.check_user_cliente == 1" class="badge badge-pill badge-success"

        title="Pago confirmado por el cliente, recibido por el beneficiario">SI</span>

        
        <span ng-if="x.check_user_cliente != 1" class="badge badge-pill badge-danger"

        title="El cliente no ha confirmado el pago como recibido.">NO</span>

      </td>



<!--acciones/ ver mas-->

      <!--td><a title="Ver mas detalles del pago (pendiente de programar)" href="#!/destino/{{ x.id }}">Elegir acción</a></td-->

<!--Ocultar botones de accion, y columna completa, cuando el pago total pendiente sea 0
<td ng-hide="pago_pendiente == 0">
-->
    <td>

<!--version 3 de enlace para pagar en destino, con mensaje de confirmacion
      title="El operador debe realizar el pago y notificarlo con captura del comprobante"
-->
      <span
      title="No hay acciones que realizar. El pago ya fue realizado y confirmado por el cliente." 
      ng-if="x.check_realizado == 2" 
      >Completado</span>

      <a
      title="Marcar como pagado" 
      ng-if="x.check_realizado == 0" 
      class="badge badge-pill badge-danger text-white" role="button"
      ng-confirm-click="Estás seguro de esta acción?"
      confirmed-click="marcarPagoDestino(x.id)" 
      >Pagar</a>

<!--confirmar pago en destino, por parte del cliente
      title="El operador debe realizar el pago y notificarlo con captura del comprobante"
      title="El operador debe revisar los datos y captura de pago y confirmar. Si hubo algún error se debe corregir mnediante esta opción
      >"Verificar Pago</a>
-->
      <a
      title="Verificar pago recibido. Por parte de cliente y/o beneficiario" 
      ng-if="x.check_realizado == 1" 
      class="badge badge-pill badge-primary text-white"
      role="button"
      ng-confirm-click="Estás seguro de esta acción?"
      confirmed-click="confirmarPagoDestino(x.id)"
      >Confirmar Pago</a>
    </td>

      <!--select name="accion" ng-model="x.accion" class="form-control input-sm" ng-change="ejecutarAccion()">

        <option value="">-Elegir acción-</option>

        <option value="P">Pagar</option>

        <option value="V">Verificar Pago</option>

      </select>

      <button type="button" class="btn btn-primary" ng-click="pagar_destino()">Pagar</button>

    -->


    <!--aplicar iconos a los botones>

      ejemplos:

      dollar-sign, de https://fontawesome.com/v5.15/icons?d=gallery&p=2&c=currency

      https://glyphicons.bootstrapcheatsheets.com/

    -->

    

<!--version 1 de enlace para pagar en destino-->
<!--
      <a
      ng-if="x.check_realizado != 1" 
      class="badge badge-pill badge-danger text-white" role="button"
      title="Pendiente de programar. En proceso" 
      href="" 
      title="El operador debe realizar el pago y notificarlo con captura del comprobante">Pagar</a>
-->

<!--version 2 de boton para pagar en destino, con mensaje de confirmacion-->
<!--button ng-if="x.check_realizado != 1"
    ng-confirm-click="Estás seguro de esta acción?"
    confirmed-click="sayHi(x.id)" 
    >Pagar</button>
-->




<!--comentarios/obs-->

<!--

      <td>{{x.observ}}</td>

    -->

    </tr>

    <tfoot>

    <tr ng-if="!resultados_destino || resultados_destino.length == 0">

      <td colspan="2" class="text-danger">No hay pagos registrados.</td>

    </tr>

    <tr ng-if="resultados_destino.length > 0">

      <td class="text-primary">Total Pagado: </td>

      <td class="text-right" style="padding-right:50px;">{{total_pagado | number: 2 }}</td>

    </tr>

    <tr ng-if="resultados_destino.length > 0">

      <td class="text-danger">Pago Pendiente: </td>

      <td class="text-right" style="padding-right:50px">{{pago_pendiente | number: 2}}</td>

    </tr>

    </tfoot>

  </table>

<!--

<div class="debug">

  Debug:

{{$scope.resultados_destino | json}}

</div>

-->

</div>

