<div class="container">
	<h5>Confirmar Pago</h5>

	<!--uso de componente angular-file-upload, con mismo controlador padre
		<div>
			<input type="file" nv-file-select uploader="uploader"/><br/>
			<ul>
				<li ng-repeat="item in uploader.queue">
					Comprobante: <span ng-bind="item.file.name"></span><br/>
					<button ng-click="item.upload()">upload</button>
				</li>
			</ul>
		</div>
	-->

	<!--uso de componente angular-file-upload, con controlador aparte-->
	<div ng-app="myApp.calcPago">
		<div ng-controller="AdjuntosCtrl">
			<input type="file" nv-file-select uploader="uploader"	 /><br/>
			<ul>
				<li ng-repeat="item in uploader.queue">
					Comprobante: <span ng-bind="item.file.name"></span><br/>
					<button ng-click="item.upload()">Subir comprobante</button>
				</li>
			</ul>
		</div>
	</div>

	<!--adjuntar comprobantes en forma manual, sin usar angular-file-upload-->
<!--div class="container">
	<br>
	<a href="#" ng-if="pago == 1">Adjuntar comprobante en forma manual</a>
	<br>

	<a href="#" ng-if="pago == 2">Adjuntar otro comprobante (2)</a>
	<br>

	<a href="#" ng-if="pago == 3">Adjuntar otro comprobante (3)</a>
	<br>

	<a href="#" ng-if="pago > 1">Listo</a>
	<br>
</div>
-->

</div>