<div>
  <!-- form deposito en origen-->
  <div name="divForm"> 
    <form><!-- novalidate -->
    <!--
    <h3>Destino</h3>
  -->
<!--
    <br/>*Login<br/>
    <input id="login" name="login" type="text" ng-model="destino.login" auto-focus maxlength="30">
    <br/>
  -->

  <!--span style="font-weight: bold">País: </span><label name="destino.nombrepais">{{data.nombre_pais2}}</label-->

  <!--
  TODO.buscar si el usuario ya tiene cuentas registradas anteriormente, para el pais destino
   Si es asi, mostrar en una lista las cuentas, o tener un boton para ver el catalogo de cuentas  
 -->

 <!--TODO. MEJORA CARACTERISTICA. para siguiente version. habilitar pago en varias cuentas, con una sola transaccion-->

  <!--TODO. cargar lista de bancos, de bd-->
  <!--todo. LLENAR LISTA de bancos SEGUN EL PAIS destino, BD-->
  <br>
  <select name="bancosdestino" ng-model="destino.cod_banco" auto-focus 
  class="form-control input-sm" ng-change="setNombreBanco()">
  <option value="">-Banco-</option>
  <option ng-repeat="a in lista_bancos" value="{{a.codigo}}">{{a.nombre}}</option>
</select>

<!--TODO. en este campo hidden colocar el nombre del banco, segun el seleccionado en el select
    <br/>
  <input name="bank" type="hidden" ng-model="destino.codbank" placeholder="Nombre de Banco" auto-focus autofocus autofocus="true" maxlength="40"
  class="form-control input-sm">
-->

  <!--TODO. Posiblemente. hacer select con  lista de tipos de cuenta-->
  <br/>
  <select  name="destino.tipo_cta" data-ng-model="destino.tipo_cta" class="form-control input-sm">
    <option value = "">-Tipo de cuenta-</option>
    <option value = "C">Corriente</option>
    <option value = "A">Ahorros</option>
    <option value = "V">Virtual</option>
    <option value = "O">Otro Tipo</option>
    <!--
    <option value = "N">Nómina</option>
  -->
  </select>
  <br/>

  <input name="destino.nrocta" type="text" ng-model="destino.ctabank" placeholder="Número de Cuenta" maxlength="20"
  class="form-control input-sm">
  <br/>

  <input name="destino.doctitular" type="text" ng-model="destino.doctitular" maxlength="8" placeholder="Cédula del Titular" 
  class="form-control input-sm">
  <br/>

  <input name="destino.nombretitular" type="text" ng-model="destino.nombretitular" maxlength="35" placeholder="Nombre del Titular"
  maxlength="40"
  class="form-control input-sm">
  <br/>

  <input name="destino.email" ng-model="destino.email" placeholder="Correo electrónico del Titular"
  maxlength="35"
  class="form-control input-sm">
  <br/>

  <!--span>Nro de Teléfono</span><br/-->
  <input name="destino.telefono" type="text" ng-model="origen.telefono" maxlength="20" placeholder="Teléfono del Titular" ng-value="+58 426-9570383"
  class="form-control input-sm">
  <br>

  <br>
  <textarea name="observ" ng-model="destino.observ" cols="50" rows="3" placeholder="Notas/Observaciones"
  maxlength="255"
  class="form-control input-sm">
</textarea>

</form>

<div style="visibility: hidden;">
  <input name="id" type="hidden" ng-model="destino.id">
  <span name="user_id" >user id:{{destino.id}}</span>
</div>

</div>

<div name="divMsjNoRegistro" ng-show="showErrorNotFound" class="error-element animate-show-hide">
  <p>{{msg}}</p>
</div>

<div name="divMensajeExito" ng-show="mostrarExito" class="exito-element animate-show-hide">
  <p>{{msg}}</p>
</div>

<!--TODO. pasar a archivo principal app/index.html-->
<div name="divMensajeError" ng-show="showError == true" class="error-element animate-show-hide">
  <p>Message Operation: {{msg}}</p>

  <!--debug. TODO. solo mostrar estos datos si el nivel de depuracion de la app es DEBUG-ALL. colocarlo dentro de otro div-->
  <p>StatusCode: {{statusval}}</p>
  <p>Status: {{statustext}}</p>
  <p>Response Headers: {{headers}}</p>
</div>



<!--debug
  <p>(debug) user => {{ user }}</p>
  <p>(debug) paises => {{ lista_paises }}</p>
  <p>(debug) ciudades => {{ lista_ciudades }}</p>
-->
<!--
  <p>master = {{ master }}</p>
-->

  <!--pruebas
    <p>resumen: {{ $scope.resumen}}</p>
    <input name="login" type="text" ng-model="destino.login" auto-focus>
    <p>saludo: {{ saludo}}</p>
<p>login: {{ paramLogin}}</p>
<p>showError: {{ showError}}</p>
<p>showForm: {{ showForm}}</p>
  $scope.showErrorNotFound = false;
-->


</div>

