<!--div-encabezado

  align="left"-->

<div class="container" style="width: 75%">



    <div class="row col-sm-12">

      <div class="col-sm-6" style="align-content: left">

        <h3>Remesa Nro. {{id_transaccion}}</h3>

      </div>



     <!--TODO. considerar activar nombre de usuario en la cabecera, tipo titulo, como el chat de localbitcoins, describiendo la transaccion-->

     <!--<h5>Usuario {{uuid}} <img class="circle" src="{{avatarUrl(uuid)}}" alt="{{user + $scope.uuid}}"/

     </h5><br>

     -->

     <br>

   </div>



   <div class="row col-sm-12">



    <!--columna 1, izquierda. para mensajes del chat-->

    <div class="col-sm-9" style="align-content: left">



<!--

<div ng-controller="chatCtrl">

  div-chat-mensajes

-->

<div class="container"><!--class="message-form"-->

 <form  class="container" ng-submit="sendMessage()">

   <i class="prefix mdi-communication-chat"></i>

   <input class="input-sm form-control col-sm-10" ng-model="messageContent" type="text" placeholder="Escribe mensajes y adjunta tu/s comprobante/s..."/>



   <span class="chip left">

     <img class="circle" src="{{avatarUrl(uuid)}}" alt="{{user + $scope.uuid}}"/>

     #{{data.login}}

     <!--usuario #{{uuid}}-->

   </span>



   <div class="input-field col s2" ng-show="showUploader==false">

     <button type="submit" class="waves-effect waves-light btn-floating btn-large">Enviar

       <!--TODO. colocar icono al boton de enviar, asi estaba antes, usando el css del chat-->

       <!--i class="mdi-content-send">Enviar</i-->

     </button>

   </div>

   <br>

   <br>



   <!--btn bi bi-paperclip-->

   <button type="button" class="btn-small btn-paperclip" ng-click="showUploader=true" ng-show="showUploader==false">Adjuntar Archivo <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor" xmlns="http://www.w3.org/2000/svg">

    <path fill-rule="evenodd" d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"></path>

  </svg></button>



  <div id="showupload" ng-if="showUploader==true">

    <input type="file" id="file_uploader"><br/>

    <div class="input-field col s2" ng-if="showUploader==true">

     <button type="button" ng-click="sendFile(); listarArchivos()" class="waves-effect waves-light btn-floating btn-large">ENVIAR

       <i class="mdi-content-send"></i>

     </button>

     <br>

     <button type="button" ng-click="showUploader=false">Cancelar adjunto</button>

     <!-- class="bi bi-x-circle-fill"-->

   </div>

 </div>

     <br>

 <br>

</form>



<!--lista de mensajes-->



<div class="row" ng-repeat="message in messages">

 <div class="col-sm-1" title="foto o avatar del usuario">

  <img class="circle" src="{{avatarUrl(message.sender_uuid)}}" alt="{{message.sender_uuid}}" />

</div>

<div class="col-sm-7">

 <p class="text-lg-left">

   <span class="title text-primary font-weight-bold">{{ message.sender_uuid }}:</span>

 </p>

 <p class="text-lg-left">

   <span class="title text-secondary">{{ message.content }}</span>

 </p>

 <p class="font-italic text-right text-success" title="Según hora de Venezuela">{{ message.date | date:"dd MMM yyyy ' a las ' h:mm a"}}</p>

 <!--p>{{ message.date | date:"MM/dd/yyyy '-' h:mma"}}<br> {{ message.content }}</p-->

 <hr>

</div>

</div>

     <br>



</div>









</div>





<!-- (Usuario: {{uuid}})<br> 

 <img src="{{avatarUrl(uuid)}}" alt="{{user + $scope.uuid}}"/>

<div class="form-horizontal">

-->





<!--TODO. idea: seria mejorar insertar aca el archivo transacc/resumen.html, y asi no repetir diseños-->



<!--columna 2, derecha. para datos de la operacion -->

<div class="col-sm-3" style="align-content: left">



  <form name="form1" align="left" ><!-- novalidate -->

    <div class="form-group" ng-class="{'has-error': myForm.myDecimal.$invalid}"><!--TODO. colocar bandera --flecha-> bandera-destino-->

      <h3>Detalles de Transacción</h3>

      <!--TODO.formar codigo con codpaisorigen+codpaisdestino+data.id-->

      <span>Código <span style="font-weight: bold"><a title="Ver detalles de la transacción"

      href="#!/transaccion/{{data.id}}">{{data.origen_codpais + data.destino_codpais + '-' + data.referencia}}</a></span><br/></span>

      <!--TODO. mostrar el status en un formato entendible para el usuario-->

      <span>Estatus: <span style="font-weight: bold">{{data.status}}</span><br/></span>

      <span>Usuario: <a title="en el tooltip colocar resumen del usuario" href="#!/user/{{ data.login }}">{{data.login}}</a>

      ({{data.user_nombre}})</span>

      <br/>



      <span>De: <span style="font-weight: bold">{{data.origen_pais_nombre}}</span></span>

      <br/>

      <span>A: <span style="font-weight: bold">{{data.destino_pais_nombre}}</span></span>

      <br/>

      <hr>

        <span>Monto dólares:</span>

        <span style="font-weight: bold">{{'USD ' + (data.monto_dolares | number : 1.2) }} </span>

        <br>

        <span>Monto enviado:</span>

        <!--todo, falta especificar simbolo de moneda de la bd-->

        <span style="font-weight: bold">{{data.origen_cod_moneda + '. ' + (data.origen_monto | number : 0) }}</span>

        <br/>

        <span>Monto a recibir:</span>

        <!--todo, falta especificar simbolo de moneda de la bd-->

        <span style="font-weight: bold">{{data.destino_cod_moneda + '. ' + (data.destino_monto | number : 2) }}</span>

    </div>

  </form>

  <!--OJO, aqui falta cerrar tag span-->

  

  <!--botones de pago-->

  <!--ideas, acorde al estado del pago, asignar color a los botones

    origen> amarillo, no pagado

    origen> azul, pagado

    destino> rojo, no pagado

    destino> verde, pagado

  -->

    <div class="p-2 bd-highlight">



      <div class="col-sm-4" style="align-content: right">

        <a class="badge badge-pill badge-info text-white"

        role="button"

        href="#!/pagos/origen/{{ x.id }}" 

        href="#!/chat/{{ x.id }}" 

        title="Pago en destino. El operador debe realizar el pago y notificarlo">Pago en Origen</a>

        <!--TODO. add condiciones para mostrar enlace

           ng-if="data.status_PO == 'OK' && data.status_PD == '' " -->

      

         <a class="badge badge-pill badge-danger text-white" role="button"

        href="#!/chat/{{ x.id }}" 

        title="Pago en destino. El operador debe realizar el pago y notificarlo">Pago en Destino</a>

        <!--TODO. add condiciones para mostrar enlace

           ng-if="data.status_PO == 'OK' && data.status_PD == '' " -->

      </div>

    </div>

  </div>

</div>