<!--
<p>saludo:\
 {{ saludo}}</p>
-->
<!--TODO.DESEO.    //enfocar campo de busqueda
<p>Buscar:<input type="text" ng-model="busq1"
  auto-focus="{{ focusInput }}" value="auto-focus on"></p>
-->




<!--<p>This is the partial for view saludo.
Es la primera vista que se abre.

TODO. llamar esta vista inicio o home</p>
-->

<!--
<b><p>BitTrade te dice: <br></b>
-->


<!--p>
	<b>{{ saludo}}</b>
</p>
<br/>
<b>Confirmar Pago:
</b><br>
Adjuntar comprobante.<br>
Aquí se mostraria todos los datos relacionados a la transaccion.<br>
con boton imprimir<br>
enviar por correo al cliente<br>
o cancelar
</p-->

<!--TODO. mostrar saludo acorde-->

<!--<p>greeting():
{{ greeting() }}
  <p></p>
  Multiply value <input ng-model="num"> two times equals {{ double(num) }}
  <p></p>
-->